{$DOMAIN_NAME:invalid} {
    encode gzip
    reverse_proxy client:4173 {
        header_up Set-Cookie {http.response.header.Set-Cookie}
        header_up Host {host}
    }
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

www.{$DOMAIN_NAME:invalid} {
	redir https://{$DOMAIN_NAME:invalid}{uri} permanent
}

server.{$DOMAIN_NAME:invalid} {
    # WS proxying
    reverse_proxy /ws server:4010 {
        header_up Host {host}
    }
    # API proxying
    reverse_proxy server:3007 {
        header_up Set-Cookie {http.response.header.Set-Cookie}
        header_up Cookie {http.request.header.Cookie}
        header_up Host {host}
    }

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    
    header {
        -X-Powered-By
        -Server

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # clickjacking protection
        X-Frame-Options DENY

        # XSS Protection
        X-XSS-Protection "1; mode=block"
    }

	rate_limit {
        # limit requests based on IP address
        zone api_limit {
            # key {remote_host}
            # if using Cloudflare proxy, use the following key:
            key {http.request.header.CF-Connecting-IP}
            events 100
            window 1m
        }

        zone burst_limit {
            # key {remote_host}
            # if using Cloudflare proxy, use the following key:
            key {http.request.header.CF-Connecting-IP}
            events 20
            window 1s
        }
    }
}

*.{$DOMAIN_NAME:invalid} {
    reverse_proxy server:3030 {
        header_up Host {host}
    }

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    header {
        -X-Powered-By
        -Server

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # clickjacking protection
        X-Frame-Options DENY

        # XSS Protection
        X-XSS-Protection "1; mode=block"
    }

	rate_limit {
        # limit requests based on IP address
        zone api_limit {
            # key {remote_host}
            # if using Cloudflare proxy, use the following key:
            key {http.request.header.CF-Connecting-IP}
            events 100
            window 1m
        }

        zone burst_limit {
            # key {remote_host}
            # if using Cloudflare proxy, use the following key:
            key {http.request.header.CF-Connecting-IP}
            events 20
            window 1s
        }
    }
}